.nav {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  margin: 20px auto;
}
.navButton {
  font-size: 1.7rem;
  margin: 10px;
}
