@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  color: rgba(56, 56, 56, 1);
  font-family: monospace;

  animation: typing 4s steps(40, end) 0s, blink-caret 1.5s step-end infinite,
    fade-in 0.5s cubic-bezier(1, 0, 1, 0);
  font-size: 1.3rem;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .typewriter {
    font-size: 1.5rem;
  }
}

.typewritercontainer {
  max-width: 80%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .typewritercontainer {
    margin-left: 35%;
    margin-right: 35%;
  }
}
